<h1>Verses</h1>

<script type="text/x-handlebars">
  {{ view App.ListVersesView }}
</script>

<script type="text/javascript">
  $(function() {
    App.versesController.loadAll(<%= @verses.to_json.html_safe %>);
  });
</script>
